<h1 class="text-center mb-4"><%= @pokemon_card.name.capitalize %></h1>

<div class="row justify-content-center align-items-center gap-4">
  <div class="col-md-4 text-center">
    <% if @pokemon_card.new? %>
      <span class="badge bg-primary rounded-0 rounded-top w-50">New</span>
    <% elsif @pokemon_card.recently_updated? %>
      <span class="badge bg-warning rounded-0 rounded-top w-50">Updated</span>
    <% end %>

    <%= image_tag @pokemon_card.image, class: 'w-75', alt: @pokemon_card.name %>
  </div>

  <div class="col-md-4 d-flex justify-content-center">
    <div>
      <p>
        <b>Type:</b>
        <%= @pokemon_card.types.map { |type| link_to(type.name, type_path(type)) }.join(', ').html_safe %>
      </p>
      <p><b>Description:</b> <%= @pokemon_card.description.present? ? @pokemon_card.description : "N/A" %></p>
      <p><b>Price:</b> $<%= '%.2f' % @pokemon_card.price %></p>
      <p><b>Stock Quantity:</b> <%= @pokemon_card.stock_quantity %></p>

      <% if @pokemon_card.stock_quantity > 0 %>
        <%= form_tag(cart_index_path, method: :post, class: "mb-3", style: "width: 214.516px;") do %>
          <%= hidden_field_tag(:id, @pokemon_card.id) %>
          <div class="input-group flex-nowrap">
            <%= number_field_tag(:quantity, 1, min: 1, max: @pokemon_card.stock_quantity, class: "form-control") %>
            <button class="btn btn-primary">Add to Cart</button>
          </div>
        <% end %>
      <% else %>
        <p class="text-danger"><b>Out of stock</b></p>
      <% end %>
    </div>
  </div>
</div>
